.portfolio-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .container {
    position: relative;

    .options ~ .border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: rgb(180, 0, 0);
    }
    .options:hover ~ .border {
      width: 100%;
      transition: 0.5s;
    }

    .emni-class {
      color: blue;
      text-decoration: none;
      margin: 0px 5px 0px 5px;
      color: black;
      font-weight: 200;
      font-size: 12px;
    }
    .active-class-my {
      color: rgb(180, 0, 0);
    }
  }
}
